<form method="post">


    <label> Enter To Address </label><br />

    <input type="text" name="toaddress" /><br /><br />

    <hr />

    <h2>   Enter Gmail Credentials </h2>

    <label> Enter Username </label><br />

    <input type="text" name="uname" /><br />

    <label> Enter Password</label><br />

    <input type="password" name="pwd" /><br /><br />


    <input type="submit"  value="Send Mail"/>



</form>
