<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/services.css" />
        <link rel="stylesheet" href="~/css/Home.css" />
    </head>
    
    <body>
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center mb-5">
                    <div class="col-md-7 text-center heading-section ftco-animate">
                        <span class="subheading">Services</span>
                        <h2 style="text-align: center;" >Our Latest Services</h2>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="services services-2 w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
                                <div class="text w-100">
                                    <h3 class="heading mb-2"><b>Flexible Rentals</b></h3>
                                    <p style="color: black; text-align: center;">Cancel or change most bookings for free up to 48 hours before pick-up.</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-3">
                            <div class="services services-2 w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
                                <div class="text w-100">
                                    <h3 class="heading mb-2"><b>No hidden fees</b></h3>
                                    <p style="color: black; text-align: center;">Know exactly what you’re paying.</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-3">
                            <div class="services services-2 w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
                                    <div class="text w-100">
                                        <h3 class="heading mb-2"><b>Price Match Guarantee</b></h3>
                                        <p style="color: black; text-align: center;">Found the same deal for less? We’ll match the price..</p>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </body>
</html>